body {
  background-color: #E5E5E5;
}

#header .menu-container {

  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 21px;
  font-size: 14px;
  color: #343030;
  font-family: 'Merriweather';
  font-style: normal;
  margin-top: 37px;
}

.menu-link1 {
  position: absolute;
left: 23.33%;
right: 73.59%;
top: 3.85%;
bottom: 93.96%;
font-family: 'Merriweather';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
display: flex;
align-items: center;
color: #343030;
margin-right: 48px;
text-decoration: none;
}

.menu-link2 {
  position: absolute;
left: 28.91%;
top: 3.85%;
bottom: 93.96%;
font-family: 'Merriweather';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
display: flex;
align-items: center;
color: #343030;
margin-right: 48px;
text-decoration: none;
}

.menu-link3 {
  position: absolute;
left: 35%;
top: 3.85%;
bottom: 93.96%;
font-family: 'Merriweather';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
display: flex;
align-items: center;
color: #343030;
margin-right: 48px;
text-decoration: none;
}

.menu-link4 {
  position: absolute;
left: 40.31%;
top: 3.85%;
bottom: 93.96%;
font-family: 'Merriweather';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
display: flex;
align-items: center;
color: #343030;
margin-right: 48px;
text-decoration: none;
}

.menu-link5 {
position: absolute;
left: 46.77%;
top: 3.85%;
bottom: 93.96%;
font-family: 'Merriweather';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
display: flex;
align-items: center;
color: #343030;
margin-right: 162px;
text-decoration: none;
}

.menu-linkk {
position: absolute;
height: 21px;
left: 60.83%;
top: 25px;
font-family: 'Merriweather';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
display: flex;
align-items: center;
color: #9F9F9F;
padding-left: 16px;
padding-right: 57px;
padding-top: 13px;
padding-bottom: 14px;
box-sizing: border-box;
height: 48px;
left: 60%;
right: 18.33%;
top: 12px;
border: 1px solid #E1E1E1;
text-decoration: none;
}

.menu-linkkk {
height: 21px;
width: 122px;
top: 30px;
padding-top: 14px;
left: 77.19%;
font-family: 'Merriweather';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 150%;
text-align: center;
color: #FFFFFF;
position: absolute;
height: 34px;
left: 75.31%;
top: 12px;
background: #403432;
border-radius: 0px;
margin-left: 60px;
text-decoration: none;
}

.text {
left: 18.33%;
right: 61.35%;
top: 14.69%;
bottom: 81.56%;
font-family: 'Merriweather';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 150%;
display: flex;
align-items: center;
margin-left: 235px;
margin-top: 41px;
color: #343030;
}

.block1 {
  position: relative;
  display: inline-block;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #E1E1E1;
  margin-top: 39px;
  margin-left: 100px;
  width: 280px;
  height: 328px;
}

.kartinka1 {
  position: absolute;
  top: 0;
  bottom: 0px;
  right: 0px;
  margin: auto;
}

.super1 {
  position: absolute;
  margin: auto;
  left: 8.57%;
  right: 12.86%;
  top: 54.88%;
  bottom: 28.66%;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  display: flex;
  text-align: left;
}

.buy1 {
position: absolute;
margin: auto;
left: 8.57%;
right: 62.5%;
top: 78.35%;
bottom: 15.24%;
font-family: 'Merriweather';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 150%;
display: flex;
text-align: center;
text-decoration-line: line-through;
color: #A0A0A0;
}

.buy_1 {
position: absolute;
margin: auto;
left: 8.57%;
right: 58.21%;
top: 84.76%;
bottom: 7.93%;
font-family: 'Merriweather';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
display: flex;
align-items: center;
color: #343030;
}

.knopka {
position: absolute;
margin: auto;
left: 60.36%;
right: 19.29%;
top: 82.32%;
bottom: 11.28%;
font-family: 'Merriweather';
font-style: normal;
font-weight: 700px;
font-size: 14px;
text-align: center;
color: #F4F6F9;
background: #382E2B;
border-radius: 0px;
padding-top: 12px;
padding-bottom: 12px;
height: 20px;
width: 100px;
}

.block2 {
  position: relative;
  display: inline-block;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #E1E1E1;
  margin-top: 39px;
  margin-left: 32px;
  width: 280px;
  height: 328px;
}

.kartinka2 {
  position: absolute;
  top: 0;
  bottom: 0px;
  right: 0px;
  margin: auto;
}

.super2 {
  position: absolute;
  margin: auto;
  left: 8.57%;
  right: 12.86%;
  top: 54.88%;
  bottom: 28.66%;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  display: flex;
  text-align: left;
}

.buy2 {
position: absolute;
margin: auto;
left: 8.57%;
right: 57.5%;
top: 81.71%;
bottom: 10.98%;
font-family: 'Merriweather';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
display: flex;
align-items: center;
color: #343030;
}

.block3 {
  position: relative;
  display: inline-block;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #E1E1E1;
  margin-top: 39px;
  margin-left: 32px;
  width: 280px;
  height: 328px;
  transform: translateY(-95%);
}

.kartinka3 {
  position: absolute;
  top: 0;
  bottom: 0px;
  right: 0px;
  margin: auto;
}

.super3 {
  position: absolute;
  margin: auto;
left: 8.57%;
right: 12.86%;
top: 54.88%;
bottom: 28.66%;
font-family: 'Merriweather';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 150%;
display: inline-block;
text-align: left;
color: #343030;
}

.buy3 {
position: absolute;
margin: auto;
left: 8.57%;
right: 62.14%;
top: 78.35%;
bottom: 15.24%;
font-family: 'Merriweather';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 150%;
display: flex;
align-items: center;
text-decoration-line: line-through;
color: #A0A0A0;
}

.buy_3 {
position: absolute;
margin: auto;
left: 8.57%;
right: 57.5%;
top: 84.76%;
bottom: 7.93%;
font-family: 'Merriweather';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
display: flex;
align-items: center;
color: #343030;
}

.korzina {
  position: absolute;
  margin: auto;
  left: 60.71%;
  right: 11.79%;
  top: 82.32%;
  bottom: 11.28%;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: #F4F6F9;
  background: #5B3A32;
  padding-top: 12px;
  padding-bottom: 12px;
  height: 20px;
  width: 100px;
}


.block4 {
position: relative;
display: inline-block;
align-items: center;
box-sizing: border-box;
border: 1px solid #E1E1E1;
width: 280px;
height: 328px;
margin-top: 39px;
margin-left: 32px;
}

.kartinka4 {
  position: absolute;
  top: 0;
  bottom: 0px;
  right: 0px;
  margin: auto;
}

.super4 {
position: absolute;
margin: auto;
display: inline-block;
text-align: left;
left: 8.57%;
right: 12.86%;
top: 54.88%;
bottom: 28.66%;
font-family: 'Merriweather';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 150%;
}

.auktion {
position: absolute;
margin: auto;
left: 8.57%;
right: 25%;
top: 81.71%;
bottom: 10.98%;
font-family: 'Merriweather';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
display: flex;
text-align: center;
color: #343030;
}

#header2 .menu-container3 {
  align-items: center;
  flex-direction: row;
  display: flex;
  height: 21px;
  font-size: 14px;
  color: #343030;
  font-family: 'Merriweather';
  font-style: normal;
width: 1920px;
height: 96px;
left: 0px;
top: 864px;
}

.menu-link_1 {
  position: absolute;
  margin: auto;
left: 23.33%;
right: 73.59%;
top: 93.96%;
bottom: 3.85%;
font-family: 'Merriweather';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;

display: flex;
align-items: center;
color: #555555;
text-decoration: none;
  transform: translateY(-2000%);
  margin-right: 290px;
}

.menu-link_2 {
  position: absolute;
  margin: auto;
left: 28.91%;
right: 67.5%;
top: 93.96%;
bottom: 3.85%;
font-family: 'Merriweather';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
display: flex;
align-items: center;
color: #555555;
text-decoration: none;
transform: translateY(-2000%);
margin-right: 300px;
}

.menu-link_3 {
  position: absolute;
  margin: auto;
left: 35%;
right: 62.19%;
top: 93.96%;
bottom: 3.85%;
font-family: 'Merriweather';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
display: flex;
align-items: center;
color: #555555;
text-decoration: none;
transform: translateY(-2000%);
margin-right: 280px;
}

.menu-link_4 {
  position: absolute;
  margin: auto;
left: 40.31%;
right: 55.73%;
top: 93.96%;
bottom: 3.85%;
font-family: 'Merriweather';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
display: flex;
align-items: center;
color: #555555;
text-decoration: none;
transform: translateY(-2000%);
margin-right: 290px;
}

.menu-link_5 {
  position: absolute;
  margin: auto;
left: 46.77%;
right: 48.28%;
top: 93.96%;
bottom: 3.85%;
font-family: 'Merriweather';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
display: flex;
align-items: center;
color: #555555;
text-decoration: none;
transform: translateY(-2000%);
margin-right: 310px;
}

.kartinka_1 {
  position: absolute;
  left: 58.33%;
  right: 40.94%;
  top: 94.27%;
  bottom: 4.27%;
transform: translateY(2063%);
margin-left: 60px;
}

.menu-link_6 {
position: absolute;
left: 59.53%;
right: 33.39%;

bottom: 3.96%;
font-family: 'Merriweather';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
display: flex;
align-items: center;
color: #555555;
margin-left: 15px;
text-decoration: none;
transform: translateY(47%);
margin-left: 25px;
}

.kartinka_2 {
  margin-left: 230px;
}

.kartinka_2 {
transform: translateY(-48%);
}

.menu-link_7 {
left: 70.52%;
right: 15.89%;
bottom: 3.85%;
font-family: 'Merriweather';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
display: flex;
align-items: center;
color: #555555;
transform: translateY(-102%);
text-decoration: none;
margin-left: 25px;
}

.menu-container3 {
  position: absolute;
width: 1920px;
height: 96px;
left: 0px;
top: 864px;

background: #ECEAEA;
}
